Video Game Sales and Ratings.

This dashboard provides a comprehensive analysis of video game sales and ratings. With the increasing popularity of video games as a form of entertainment and the rapid growth of the gaming industry, understanding the trends and patterns in video game sales and ratings is crucial for both gamers and industry professionals.

In [13]:
#necessary libraries
import pandas as pd
import numpy as np

In [14]:
#import the dataset
df = pd.read_csv("vgsales.csv")

In [15]:
#checking null values 
df.isnull().sum()

Name               0
Platform           0
Year               8
Genre              0
Publisher          1
NA_Sales           0
EU_Sales           0
JP_Sales           0
Other_Sales        0
Global_Sales       0
Critic_Score    9080
Critic_Count    9080
User_Score      9618
User_Count      9618
Rating          7164
dtype: int64

In [16]:
#deleting all null values
data = df.dropna()
print(data)

                            Name Platform    Year     Genre  \
0                     Wii Sports      Wii  2006.0    Sports
2                 Mario Kart Wii      Wii  2008.0    Racing
3              Wii Sports Resort      Wii  2009.0    Sports
6          New Super Mario Bros.       DS  2006.0  Platform
7                       Wii Play      Wii  2006.0      Misc
...                          ...      ...     ...       ...
17394  Tom Clancys Splinter Cell       PC  2003.0    Action
17401         Blacksite: Area 51       PC  2007.0   Shooter
17402         Virtua Tennis 2009       PC  2009.0    Sports
17404              CivCity: Rome       PC  2006.0  Strategy
17407             Super Meat Boy      PS4  2016.0  Platform

                  Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
0                  Nintendo     41.36     28.96      3.77         8.45
2                  Nintendo     15.68     12.80      3.79         3.29
3                  Nintendo     15.61     10.95      3.28         2.95
6                  Nintendo     11.28      9.15      6.50         2.88
7                  Nintendo     13.96      9.18      2.93         2.84
...                     ...       ...       ...       ...          ...
17394               Ubisoft      0.00      0.00      0.00         0.00
17401          Midway Games      0.00      0.00      0.00         0.00
17402                  Sega      0.00      0.00      0.00         0.00
17404  Take-Two Interactive      0.00      0.00      0.00         0.00
17407             Team Meat      0.00      0.00      0.00         0.00

       Global_Sales  Critic_Score  Critic_Count  User_Score  User_Count Rating
0             82.54          76.0          51.0         8.0       324.0      E
2             35.57          82.0          73.0         8.3       712.0      E
3             32.78          80.0          73.0         8.0       193.0      E
6             29.81          89.0          65.0         8.5       433.0      E
7             28.92          58.0          41.0         6.6       129.0      E
...             ...           ...           ...         ...         ...    ...
17394          0.01          91.0          20.0         8.5       291.0      T
17401          0.01          60.0          20.0         4.9        42.0      T
17402          0.01          68.0           8.0         6.5        19.0      E
17404          0.01          67.0          46.0         6.9        32.0   E10+
17407          0.01          85.0           7.0         7.0       114.0      T

[7112 rows x 15 columns]

In [17]:
data.isnull().sum()

Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
Critic_Score    0
Critic_Count    0
User_Score      0
User_Count      0
Rating          0
dtype: int64

In [18]:
data.dtypes

Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
Critic_Score    float64
Critic_Count    float64
User_Score      float64
User_Count      float64
Rating           object
dtype: object

In [19]:
for column in data:
    unique_vals = np.unique(data[column])
    nr_values = len(unique_vals)
    if nr_values < 13:
        print('The number of values for feature {} :{} -- {}'.
              format(column, 
        nr_values,unique_vals))
    else:
        print('The number of values for feature {} :{}'.
              format(column, nr_values))

The number of values for feature Name :4524
The number of values for feature Platform :17
The number of values for feature Year :25
The number of values for feature Genre :12 -- ['Action' 'Adventure' 'Fighting' 'Misc' 'Platform' 'Puzzle' 'Racing'
 'Role-Playing' 'Shooter' 'Simulation' 'Sports' 'Strategy']
The number of values for feature Publisher :279
The number of values for feature NA_Sales :349
The number of values for feature EU_Sales :272
The number of values for feature JP_Sales :160
The number of values for feature Other_Sales :147
The number of values for feature Global_Sales :542
The number of values for feature Critic_Score :82
The number of values for feature Critic_Count :106
The number of values for feature User_Score :89
The number of values for feature User_Count :895
The number of values for feature Rating :7 -- ['AO' 'E' 'E10+' 'K-A' 'M' 'RP' 'T']

In [20]:
filtered_data = data[(data['Year'] >= 2000) & (data['Year'] <= 2016)]
filtered_data

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.54,76.0,51.0,8.0,324.0,E
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.80,3.79,3.29,35.57,82.0,73.0,8.3,712.0,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.95,3.28,2.95,32.78,80.0,73.0,8.0,193.0,E
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.15,6.50,2.88,29.81,89.0,65.0,8.5,433.0,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17394,Tom Clancys Splinter Cell,PC,2003.0,Action,Ubisoft,0.00,0.00,0.00,0.00,0.01,91.0,20.0,8.5,291.0,T
17401,Blacksite: Area 51,PC,2007.0,Shooter,Midway Games,0.00,0.00,0.00,0.00,0.01,60.0,20.0,4.9,42.0,T
17402,Virtua Tennis 2009,PC,2009.0,Sports,Sega,0.00,0.00,0.00,0.00,0.01,68.0,8.0,6.5,19.0,E
17404,CivCity: Rome,PC,2006.0,Strategy,Take-Two Interactive,0.00,0.00,0.00,0.00,0.01,67.0,46.0,6.9,32.0,E10+
17407,Super Meat Boy,PS4,2016.0,Platform,Team Meat,0.00,0.00,0.00,0.00,0.01,85.0,7.0,7.0,114.0,T

In [21]:
filtered_data.to_csv("video_games_new.csv", index=False)